<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MiscJava/src/coursera_algorithms/graphs/undirected/AdjMatrixGraph.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="coursera_algorithms.graphs.undirected.AdjMatrixGraph"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="100&#13;&#10;90"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MiscJava"/>
</launchConfiguration>
