<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MiscJava/src/examLab/exam3/ExamLab3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="examLab.exam3.ExamLab3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MiscJava"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dexam.name=&quot;Sun&quot;&#13;&#10;-Dexam.name2=&quot;Sun2&quot;"/>
</launchConfiguration>
