<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MiscJava/src/coursera_algorithms/sorting/mergesort/Merge.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="coursera_algorithms.sorting.mergesort.Merge"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&lt;tiny.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MiscJava"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="F:\E-Books + Learning stuff\Coursera-Algorithms\Algorithms I\Algorithms-DATA\algs4-data"/>
</launchConfiguration>
